<!DOCTYPE html>

  <html>
    <head>
      <title>Personal Budget</title>
      <link rel="stylesheet" type="text/css" href="public/css/style.css">
    </head>

    <body>
      <div id="menu">
        <img id="icon" src="./public/img/budget.PNG">
        <button class="button" role="button">Sign In</button>
        <button class="button" role="button">Log In</button>
      </div>
      <form class="center">
        <div class="container">
            <h1>Log In</h1>
            <p id="login-paragraph">Dont have an account yet? <a href="#">Register</a></p>
            <label for="user">Username</label>
            <input type="text" name="user" id="user" placeholder="Enter Username" required>
            <label for="pass">Password<a href="#">Forgot password</a></label>
            <input type="password" name="pass" id="pass" placeholder="Enter Password" required> 
            <button class="logbutton" role="button">Login</button>
            <input type="checkbox" name="remember" id="remember" value="Remember me">
            <label for="remember">Remember me</label>
            
        </div>
      </form>
        <script src="../../just.js"></script>
    </body>
    </html>